<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

<body>
  <main>
    <% include partials/header.ejs %>

    <section class="detailBook">
      <div class="left">
        <img class="detailBookCover" src="<%= book[0].cover %>" alt="book cover">
      </div>
      <div class="right">
        <h2 class="titleDetail"><%= book[0].title %></h2>
        <p class="authorDetail"><%= book[0].author %></p>
        <p class="descrDetail"><%= book[0].descr %></p>
        <p class="yearDetail"><%= book[0].year %></p>
        <h3 class="headingDetail">Beschrijving:</h3>
        <p class="summaryDetail"><%= book[0].summary %></p>
      </div>
    </section>

  </main>

  <% include partials/tail.ejs %>

</body>
</html>
